* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Open Sans', sans-serif;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

 /* header */
.cont {
    width: 95%;
    height: 70px;
    margin: 0 auto;
}

.menu {
    padding-top: 1%;
}

.menu img {
    vertical-align: middle;
    padding-bottom: 1.6%  
}

.menu-left {
    float: left; 
    
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 1.6; 
}

.menu-right {
    float: right;
}

.menu-left #bot {
    padding-left: 50px;
}

.menu-right #bot {
    padding-right: 50px;
}


#bottone {
    background-color: rgb(45, 103, 238);
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}
/* fine header */

/* main  */


/* cont-prova  */

.cont-prova {
    width: 100%;
}

.blue {
    background-color: lightsteelblue; 
}

.back{
    width: 100%;
    height:80vh ;
}

.titolo {
    text-align: center;
    font-size: 27px;
    padding-top: 5%;
}

.info-titolo {
    float: left;
    width: 25%;
    padding-top: 6%;
    margin-left: 13%;
    font-size: 20px;
}

.inizia-prova {
    margin-top: 10%;
}

.inizia-prova p {
   margin-top: 5%;

}

.fas {
    font-size: 50px;
    padding-top: 5%;
}

#jumbo img {
    width: 50%;
    float: right;
    bottom: 0;
    padding-top: 6%;
    margin-right: 5%;
}
 /* fine cont-prova  */

 /* cont-piano */

.cont-piano {
    width: 60%;
    margin: 0 auto;
    height: 200vh;
 }

#titolo-piano {
    margin-top: 15%;
    text-align: left;
    font-size: 45px;
 } 

 /* rot-bottoni */

#rot-button {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 5px solid rgb(65, 77, 240);
    border-radius: 10px;
    vertical-align: middle;
 }

.rot {
    margin: 2% 0;
     
 }
.spa {
    padding-right: 2%;
}

/* fine rot-bottoni */

            /* tabella */

.colonna {
    display: inline-block;
    width: 30%;
    height: 900px;
    border:1px solid rgba(0, 0, 0, 0.37); 
    margin-top: 2%;
}

.testa {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    text-align: center;
    padding: 2% 0;
}

.margin {
    height: 90%;
    margin-left: 10%;
    margin-top: 5%;
}

.margin #bottone {
    display: inline-block;
    margin-top: 10%;
    padding: 5px 30px;
    text-align: center;  
}

.margin p  {
    margin: 5% 0;
}

#profes {
    margin-bottom: 20%;
}

#profes h3 {
    font-size: 30px;
}

.mese {
    color: gray;
}

.acquista-ora {
    margin-top: 5%;
}

.acquista-ora * {
    display: inline-block;

}

#border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    padding-bottom: 10%;
}

#tx-blue {
    color: blue;
}

.punti {
    margin-top: 15%;
}

.end-table {
    margin-top: 1%;
    width: 90.8%;
    border: 1px solid rgba(0, 0, 0, 0.37);
    height: 250px;
}

.end-table-margin {
    margin-left: 3.3%;
}

.end-table-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    height: 20%;
    line-height: 45px;
}

.enterprise #bottone {
    float: right;
    margin-right: 2%;
}

.enterprise {
    margin-top: 2%;
    margin-left: 1%;
}

.enterprise p {
    margin-top: 2%;
}

.enter-end {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}
         /* fine tabella  */

.trova {
    width: 90.8%;
    height: 300px;
    margin-top: 10%;
}

.partner {
    width: 100%;
    margin: 0 0 ;
}

.partner img {
    width: 55%;

}

.part-contr {
    float: right;
    width: 40%;
}

.part-contr h2 {
    margin-bottom: 10%;
}

#bottone-white {
    display: inline-block;
    background-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 10%;
}









    /* fine cont-piano */

/* fine main */




